.new-tweet__form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.new-tweet__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.new-tweet__form-label {
  font-weight: bold;
}

.new-tweet__form-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #555149;
}

.new-tweet__counter {
  font-family: 'Bungee';
}

.new-tweet__form-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.new-tweet__form-error {
  display: none;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  color: red;
  border: 2px solid red;
}

.new-tweet__form-error > * {
  display: inline;
}

.new-tweet__form-error--show {
  display: flex;
}

.new-tweet__form-message {
  margin: 0;
}
